*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  font-weight: 300;
  color: #9698a6;
  font-family: 'Public Sans', sans-serif;
  background: url(../images/bg-intro-mobile.svg) top center no-repeat, #fafafa;
  background-size: 100% 420px;
  max-width: 1440px;
  margin: auto;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  color: #2d314d;
  font-weight: 300;
}

h1 {
  margin-top: 2rem;
  font-size: 3.9rem;
}

h2 {
  font-size: 3.1rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

p {
  margin-top: 1.6rem;
  font-size: 1.5rem;
  line-height: 1.7;
}

button {
  margin-top: 3.2rem;
  width: 160px;
  padding: 1.3rem 2rem;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(90deg, #31d35c, #2bb7da);
  border: 1px solid #2bb7da;
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
}

button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

a {
  text-decoration: none;
  color: #2d314d;
  display: block;
  text-align: center;
  padding: 1.2rem;
}

a:hover {
  color: #2bb7da;
  -webkit-transform: rotateX(30deg);
          transform: rotateX(30deg);
}

header {
  width: 100%;
  height: 64px;
  padding: 2.5rem;
  background: white;
}

header #menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #hamburger {
  cursor: pointer;
}

header #close {
  display: none;
  cursor: pointer;
}

header button {
  display: none;
}

nav {
  margin-top: 4.2rem;
  padding: 2rem;
  background-color: white;
  border-radius: 5px;
  display: none;
}

main {
  padding: 30rem 1.5rem 8.75rem;
  text-align: center;
}

main #mockup {
  width: 92%;
  height: 420px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: -58px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: -1;
}

main #mockup-desktop {
  display: none;
}

section {
  padding: 6.5rem 3rem 2.5rem;
  background: #f3f4f6;
  text-align: center;
}

section #message-wrapper {
  margin-top: 5.8rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

section #message-wrapper img {
  margin-bottom: 2.35rem;
}

section #message-wrapper p {
  font-size: 1.4rem;
}

section .message {
  margin-bottom: 4rem;
}

article {
  padding: 8.5rem 2.5rem 6.5rem;
  text-align: center;
}

article img {
  width: 100%;
  height: 200px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px 5px 0 0;
}

article h2 {
  margin-bottom: 3.2rem;
}

article .card {
  border-radius: 5px;
  background: white;
  margin-bottom: 2.5rem;
}

article .card--info {
  width: 100%;
  height: 195px;
  padding: 3rem;
  text-align: left;
}

article .card small {
  display: block;
  font-size: 1rem;
  margin-bottom: 1rem;
}

article .card h4:hover {
  color: #2bb7da;
  cursor: pointer;
}

article .card p {
  font-size: 1.28rem;
  line-height: 1.5;
  margin-top: 1rem;
}

footer {
  background: #2d314d;
  padding: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 3.2rem;
  justify-items: center;
}

footer #social svg {
  margin: 0 .5rem;
}

footer #social svg:first-of-type {
  margin-left: 0;
}

footer #social svg:last-of-type {
  margin-right: 0;
}

footer #social svg:hover path {
  fill: #2bb7da;
}

footer ul {
  list-style: none;
  text-align: center;
}

footer a {
  color: #f3f4f6;
  padding: .75rem;
  font-size: 1.5rem;
}

footer button {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  header {
    height: 80px;
    padding: 0 3rem 0 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header #hamburger {
    display: none !important;
  }
  header #close {
    display: none !important;
  }
  header nav {
    display: block !important;
    margin: 0;
    background: none;
    padding: 0;
  }
  header nav a {
    padding: 0 0 2.6rem 0;
    margin: 0 1rem;
    font-size: 1.5rem;
    color: #9698a6;
    display: inline;
  }
  header nav a:hover {
    color: #2d314d;
    border-bottom: 4px solid #2bb7da;
  }
  section {
    padding: 6.5rem 4rem 3.5rem;
  }
  section #message-wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
  section .message {
    margin: 0;
  }
  article {
    padding: 5rem 4rem 6.5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
  article h2 {
    grid-column: 1 / -1;
    margin: 0;
    text-align: left;
  }
  article .card {
    margin-bottom: 0;
  }
  footer {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer button {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  footer #social {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  footer p {
    margin: 0;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  footer ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background: url(../images/bg-intro-desktop.svg) top -220px right -575px no-repeat, #fafafa;
    background-size: contain;
  }
  header {
    padding: 0 16.5rem;
    position: relative;
    z-index: 10;
  }
  header button {
    display: inline-block;
    margin: 0;
  }
  main {
    padding: 0 0 0 16.5rem;
    height: 656px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 5;
  }
  main #mockup {
    display: none;
  }
  main #mockup-desktop {
    display: block;
    position: relative;
    top: 20px;
    right: -188px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main div {
    text-align: left;
    width: 450px;
  }
  main h1 {
    font-size: 5.5rem;
    margin: 0;
  }
  main p {
    font-size: 1.8rem;
  }
  section {
    padding: 11rem 16.5rem;
    text-align: left;
  }
  section #section-heading {
    width: 650px;
  }
  section #section-heading p {
    font-size: 1.8rem;
  }
  section #message-wrapper {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
  }
  section #message-wrapper img {
    margin-bottom: 4rem;
  }
  section #message-wrapper p {
    font-size: 1.55rem;
    margin-bottom: 1.5rem;
  }
  section .message {
    margin: 0;
  }
  section h2 {
    font-size: 4rem;
  }
  section h3 {
    font-size: 2.2rem;
  }
  article {
    padding: 10rem 16.5rem 8rem;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    row-gap: 5rem;
  }
  article .card--info {
    padding: 2rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  article h2 {
    font-size: 4rem;
  }
  footer {
    padding: 4.5rem 16.5rem;
    -ms-grid-columns: 2fr 3fr 2fr;
        grid-template-columns: 2fr 3fr 2fr;
    justify-items: flex-start;
  }
  footer button {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    justify-self: flex-end;
  }
  footer ul {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    justify-items: flex-start;
    -webkit-column-gap: 6rem;
            column-gap: 6rem;
  }
  footer ul li:nth-of-type(2) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  footer ul li:nth-of-type(3) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
  footer #social {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  footer p {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    justify-self: flex-end;
  }
}
/*# sourceMappingURL=main.css.map */