*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// variables

$pri-dark-blue: hsl(233, 26%, 24%);
$pri-lime-green: hsl(136, 65%, 51%);
$pri-bright-cyan: hsl(192, 70%, 51%);
$color-grayish-blue: hsl(233, 8%, 62%);
$color-l-grayish-blue: hsl(220, 16%, 96%);
$color-v-l-gray: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);

// responsive

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content; 
    }
}

@mixin laptop {
    @media screen and (min-width: 1200px) {
        @content; 
    }
}